
/*
COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253



* {
    border: solid black 1px;
    

}

*/

body {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    min-width: 600px;
    overflow: hidden;
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between ;
    padding: 10px;
}

.nav-bar-container {
    display:flex;
    width: 50%;
    height: 35px;
}

#nav-bar-button-container {
    justify-content: flex-end;
}

#nav-bar-title {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    background-image: url("./assets/burger-friends.jpg");
    background-position: center;
    background-size: cover;
    overflow: hidden; 
}

#newMain {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#add-form {
  
}

.box {
   height: 50%;
   width: 33%;
   min-height: 200px;
   max-height: 300px;
   min-width: 200px;
   border-radius: 15px 15px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   background-color: rgba(225, 225, 225, .9);
}

.meal-display-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    height: 50%;
}

.box-title-container {
    height: 30%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#meal-display-title-container { 
    height: 50%;  
    align-items: center;
}

.box-content-container {
    height: 50%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-wrap: break-word;
}

#select-meal-form-container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.result {
    text-align: center;
    font-size: 150%;
    font-weight: 500;
}

.button-containter {
    height: 30%;
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#select-meal-button-container {
    justify-content: flex-start;
}

.button {
    width: 110px;
    height: 20px;
    border-radius: 5px 5px;
    padding: 6px;
    text-align: center;
    text-transform: uppercase;
    background-color: white;
    
}

.button:hover {
    cursor: pointer;
}

#clear-meal-button {
    background-color: #95a5a6;
    color: white;
}


.italic {
    font-style: italic;
}

.required {
    color: ee5253;
}



.hidden {
    display: none;
}

.disabled {
    
    color: gray;
    background-color: transparent;
}

.brand {
    background-color: #0fb9b1;
}

.frosted {
    background-color:rgba(225, 225, 225, .9);
}


