
/*
COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/



body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 18px;
    line-height: 0;
    font-weight: 500;
}

h2 {
    font-size: 18px;
    line-height: 0;
    font-weight: 500;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-image: url("./assets/burger-friends.jpg");
    background-position: center;
    background-size: cover;
}

section {
    border: solid;
    border-color: rgb(47, 0, 255);
    border-width: 1px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between ;
    background-color: #0fb9b1;
    padding: 10px;
}

img {
    height: 100px;
}

.meal-select-radio-label {
    line-height: 1.5
}
#meal-select-box{
    display: flex;
    flex-direction: column;
    
}

.box {

   height: 250px;
   width: 350px;
   border-radius: 15px 15px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   background-color: rgba(225, 225, 225, .9);
}

.box-title {
 height: 30%;
 width: 90%;
 display: flex;
 align-items: flex-end;
}

.required {
    color: ee5253;
}

.box-content {
    height: 50%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
}

.result {
    font-size: 21px;
    line-height: 0;
    font-weight: 600;
}

.button-containter {
    height: 30%;
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.button {
    width: 30%;
    margin: 20px;
    border-radius: 5px 5px;
    padding: 6px;
    text-align: center;
    text-transform: uppercase;
}

#nav-bar-title {
    f
    width: 50%;
}

#nav-bar-button-container {
 width: 50%;
}

#add-a-recipe-button {
    margin: 0;
    width: 25%;
    background-color: white;
}

#meal-select-button {
    border: solid;
    border-color: blue ;
    border-width: 1px;
    background-color: #0fb9b1;
}

#meal-select-button-container {
     justify-content: start;
}

#clear-meal-button {
    color: white;
    background-color: 95a5a6;
}

.hidden {
    display: none;
}
