
/*
COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/
body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between ;
    background-color: teal;
    padding: 10px;
}


section {

}
#meal-select-box{
    display: flex;
    flex-direction: column;
    
}

#meal-select-form {
    margin: 10
}
#add-a-recipe {
   
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-image: url("./assets/burger-friends.jpg");
    background-position: center;
    background-size: cover;
}

.box {
   height: 200px;
   width: 300px;
   align-items: baseline;
   background-color: rgba(225, 225, 225, .9);
}

form {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.hidden {
    display: none;
}
.button-containter {
    display: flex;
	flex-direction: row-reverse;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}
.button {
    border: solid;
    border-radius: 15px 15px;
    border-width: 1px;
    padding: 6px;
    text-align: center;
    text-transform: uppercase;
}

#add-a-recipe-button {
    background-color: white;
}

#meal-select-button {
    background-color: teal;
}

#meal-display-button {
    background-color: grey;
}

